In [1]:
%load_ext nb_black

In [2]:
import numpy as np
import pandas as pd

In [3]:
labels = ["a", "b", "c"]
my_data = [10, 20, 30]
arr = np.array(my_data)
d = {"a": 10, "b": 20, "c": 30}

In [4]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [8]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [10]:
ser1 = pd.Series([1, 2, 3, 4], ["usa", "germany", "ussr", "japan"])

In [11]:
ser1

usa        1
germany    2
ussr       3
japan      4
dtype: int64

In [12]:
ser1[3]

4

In [13]:
np.random.seed(101)
from numpy.random import randn

In [14]:
df = pd.DataFrame(randn(5, 4), ["a", "b", "c", "d", "e"], ["w", "x", "y", "z"])

In [15]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [16]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [17]:
pd.DataFrame(randn(6, 4))

          0         1         2         3
0  0.302665  1.693723 -1.706086 -1.159119
1 -0.134841  0.390528  0.166905  0.184502
2  0.807706  0.072960  0.638787  0.329646
3 -0.497104 -0.754070 -0.943406  0.484752
4 -0.116773  1.901755  0.238127  1.996652
5 -0.993263  0.196800 -1.136645  0.000366

In [18]:
df["w"]

a    2.706850
b    0.651118
c   -2.018168
d    0.188695
e    0.190794
Name: w, dtype: float64

In [19]:
type(df["w"])

pandas.core.series.Series

In [20]:
df[["w", "z"]]

          w         z
a  2.706850  0.503826
b  0.651118  0.605965
c -2.018168 -0.589001
d  0.188695  0.955057
e  0.190794  0.683509

In [21]:
df["new"] = df["w"] + df["y"]

In [22]:
df

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  3.614819
b  0.651118 -0.319318 -0.848077  0.605965 -0.196959
c -2.018168  0.740122  0.528813 -0.589001 -1.489355
d  0.188695 -0.758872 -0.933237  0.955057 -0.744542
e  0.190794  1.978757  2.605967  0.683509  2.796762

In [23]:
df.drop("b", axis=0)

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  3.614819
c -2.018168  0.740122  0.528813 -0.589001 -1.489355
d  0.188695 -0.758872 -0.933237  0.955057 -0.744542
e  0.190794  1.978757  2.605967  0.683509  2.796762

In [24]:
df.drop("a")

          w         x         y         z       new
b  0.651118 -0.319318 -0.848077  0.605965 -0.196959
c -2.018168  0.740122  0.528813 -0.589001 -1.489355
d  0.188695 -0.758872 -0.933237  0.955057 -0.744542
e  0.190794  1.978757  2.605967  0.683509  2.796762

In [25]:
df

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  3.614819
b  0.651118 -0.319318 -0.848077  0.605965 -0.196959
c -2.018168  0.740122  0.528813 -0.589001 -1.489355
d  0.188695 -0.758872 -0.933237  0.955057 -0.744542
e  0.190794  1.978757  2.605967  0.683509  2.796762

In [26]:
np.array([[1, 2, 3], [21, 32, 9]]).dot(np.array([[4, 5, 6], [7, 8, 9], [10, 11, 12]]))

array([[ 48,  54,  60],
       [398, 460, 522]])

In [27]:
np.array([1, 2, 3]) * np.array([4, 5, 6])

array([ 4, 10, 18])

In [28]:
df.drop("new", axis=1, inplace=True)

In [29]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [30]:
df.shape

(5, 4)

In [31]:
df["new_feature"] = df["w"] ** df["x"] + df["y"] * df["z"]

In [32]:
df

          w         x         y         z  new_feature
a  2.706850  0.628133  0.907969  0.503826     2.326612
b  0.651118 -0.319318 -0.848077  0.605965     0.632932
c -2.018168  0.740122  0.528813 -0.589001          NaN
d  0.188695 -0.758872 -0.933237  0.955057     2.653611
e  0.190794  1.978757  2.605967  0.683509     1.818908

In [33]:
df

          w         x         y         z  new_feature
a  2.706850  0.628133  0.907969  0.503826     2.326612
b  0.651118 -0.319318 -0.848077  0.605965     0.632932
c -2.018168  0.740122  0.528813 -0.589001          NaN
d  0.188695 -0.758872 -0.933237  0.955057     2.653611
e  0.190794  1.978757  2.605967  0.683509     1.818908

In [34]:
df[["z", "x"]]

          z         x
a  0.503826  0.628133
b  0.605965 -0.319318
c -0.589001  0.740122
d  0.955057 -0.758872
e  0.683509  1.978757

In [35]:
df.loc["a":"d", "w":"y"]

          w         x         y
a  2.706850  0.628133  0.907969
b  0.651118 -0.319318 -0.848077
c -2.018168  0.740122  0.528813
d  0.188695 -0.758872 -0.933237

In [36]:
df.loc["a", "w"]

2.706849839399938

In [37]:
df.loc[["a", "b"], ["w", "y"]]

          w         y
a  2.706850  0.907969
b  0.651118 -0.848077

In [38]:
df.iloc[0:3]

          w         x         y         z  new_feature
a  2.706850  0.628133  0.907969  0.503826     2.326612
b  0.651118 -0.319318 -0.848077  0.605965     0.632932
c -2.018168  0.740122  0.528813 -0.589001          NaN

In [39]:
df.iloc[2]

w             -2.018168
x              0.740122
y              0.528813
z             -0.589001
new_feature         NaN
Name: c, dtype: float64

In [40]:
type(df.iloc[2])  # row

pandas.core.series.Series

In [41]:
type(df["w"])  # series

pandas.core.series.Series

In [42]:
df

          w         x         y         z  new_feature
a  2.706850  0.628133  0.907969  0.503826     2.326612
b  0.651118 -0.319318 -0.848077  0.605965     0.632932
c -2.018168  0.740122  0.528813 -0.589001          NaN
d  0.188695 -0.758872 -0.933237  0.955057     2.653611
e  0.190794  1.978757  2.605967  0.683509     1.818908

In [43]:
df > 0

       w      x      y      z  new_feature
a   True   True   True   True         True
b   True  False  False   True         True
c  False   True   True  False        False
d   True  False  False   True         True
e   True   True   True   True         True

In [44]:
df[df > 0]

          w         x         y         z  new_feature
a  2.706850  0.628133  0.907969  0.503826     2.326612
b  0.651118       NaN       NaN  0.605965     0.632932
c       NaN  0.740122  0.528813       NaN          NaN
d  0.188695       NaN       NaN  0.955057     2.653611
e  0.190794  1.978757  2.605967  0.683509     1.818908

In [45]:
df[df["w"] > 0]

          w         x         y         z  new_feature
a  2.706850  0.628133  0.907969  0.503826     2.326612
b  0.651118 -0.319318 -0.848077  0.605965     0.632932
d  0.188695 -0.758872 -0.933237  0.955057     2.653611
e  0.190794  1.978757  2.605967  0.683509     1.818908

In [46]:
df[df["z"] < 0]

          w         x         y         z  new_feature
c -2.018168  0.740122  0.528813 -0.589001          NaN

In [47]:
print((-2.018168) ** 0.740122)
print(((-8) ** 2) ** (1 / 3))

(-1.151558869071704+1.225344161433889j)
3.9999999999999996

In [57]:
df[df["w"] > 0][["x", "y"]]

          x         y
a  0.628133  0.907969
b -0.319318 -0.848077
d -0.758872 -0.933237
e  1.978757  2.605967

In [58]:
df[df["w"] > 0]["y"]

a    0.907969
b   -0.848077
d   -0.933237
e    2.605967
Name: y, dtype: float64

In [59]:
df[df["w"] > 0]["y"]["b"]

-0.8480769834036315

In [63]:
df[(df["w"] > 0) & (df["y"] > 1)]

          w         x         y         z  new_feature
e  0.190794  1.978757  2.605967  0.683509     1.818908

In [68]:
df[(df["w"] > 0) | (df["z"] > 2)]

          w         x         y         z  new_feature
a  2.706850  0.628133  0.907969  0.503826     2.326612
b  0.651118 -0.319318 -0.848077  0.605965     0.632932
d  0.188695 -0.758872 -0.933237  0.955057     2.653611
e  0.190794  1.978757  2.605967  0.683509     1.818908

In [69]:
df.reset_index()

  index         w         x         y         z  new_feature
0     a  2.706850  0.628133  0.907969  0.503826     2.326612
1     b  0.651118 -0.319318 -0.848077  0.605965     0.632932
2     c -2.018168  0.740122  0.528813 -0.589001          NaN
3     d  0.188695 -0.758872 -0.933237  0.955057     2.653611
4     e  0.190794  1.978757  2.605967  0.683509     1.818908

In [70]:
df.reset_index(drop=True)

          w         x         y         z  new_feature
0  2.706850  0.628133  0.907969  0.503826     2.326612
1  0.651118 -0.319318 -0.848077  0.605965     0.632932
2 -2.018168  0.740122  0.528813 -0.589001          NaN
3  0.188695 -0.758872 -0.933237  0.955057     2.653611
4  0.190794  1.978757  2.605967  0.683509     1.818908

In [71]:
df

          w         x         y         z  new_feature
a  2.706850  0.628133  0.907969  0.503826     2.326612
b  0.651118 -0.319318 -0.848077  0.605965     0.632932
c -2.018168  0.740122  0.528813 -0.589001          NaN
d  0.188695 -0.758872 -0.933237  0.955057     2.653611
e  0.190794  1.978757  2.605967  0.683509     1.818908

In [72]:
newind = "ea ae rt ty yi".split(" ")

In [74]:
df["states"] = newind

In [75]:
df

          w         x         y         z  new_feature states
a  2.706850  0.628133  0.907969  0.503826     2.326612     ea
b  0.651118 -0.319318 -0.848077  0.605965     0.632932     ae
c -2.018168  0.740122  0.528813 -0.589001          NaN     rt
d  0.188695 -0.758872 -0.933237  0.955057     2.653611     ty
e  0.190794  1.978757  2.605967  0.683509     1.818908     yi

In [79]:
df.set_index("states")

               w         x         y         z  new_feature
states
ea      2.706850  0.628133  0.907969  0.503826     2.326612
ae      0.651118 -0.319318 -0.848077  0.605965     0.632932
rt     -2.018168  0.740122  0.528813 -0.589001          NaN
ty      0.188695 -0.758872 -0.933237  0.955057     2.653611
yi      0.190794  1.978757  2.605967  0.683509     1.818908

In [80]:
df

          w         x         y         z  new_feature states
a  2.706850  0.628133  0.907969  0.503826     2.326612     ea
b  0.651118 -0.319318 -0.848077  0.605965     0.632932     ae
c -2.018168  0.740122  0.528813 -0.589001          NaN     rt
d  0.188695 -0.758872 -0.933237  0.955057     2.653611     ty
e  0.190794  1.978757  2.605967  0.683509     1.818908     yi