In [2]:
%load_ext lab_black

The lab_black extension is already loaded. To reload it, use:
  %reload_ext lab_black

In [3]:
import numpy as np
import pandas as pd

In [4]:
# Index Levels
outside = ["G1", "G1", "G1", "G2", "G2", "G2"]
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))

In [5]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [6]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [7]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [8]:
type(hier_index)

pandas.core.indexes.multi.MultiIndex

In [9]:
from numpy.random import randn

In [10]:
df = pd.DataFrame(randn(6, 2), hier_index, ["A", "B"])

In [11]:
df

             A         B
G1 1 -0.569657  1.454053
   2 -0.096460  1.406472
   3 -0.414491  0.469664
G2 1  0.389764 -1.566777
   2  0.673148 -0.096872
   3  0.308849 -1.172967

In [12]:
df.loc["G1"]

          A         B
1 -0.569657  1.454053
2 -0.096460  1.406472
3 -0.414491  0.469664

In [17]:
df.loc["G1"].loc[2]

A   -0.096460
B    1.406472
Name: 2, dtype: float64

In [20]:
df.index.names = ["Groups", "Num"]

In [21]:
df.index.names

FrozenList(['Groups', 'Num'])

In [22]:
df

                   A         B
Groups Num
G1     1   -0.569657  1.454053
       2   -0.096460  1.406472
       3   -0.414491  0.469664
G2     1    0.389764 -1.566777
       2    0.673148 -0.096872
       3    0.308849 -1.172967

In [32]:
df.loc["G2"]["B"][2]

-0.09687214871808653

In [33]:
df.loc["G2"].loc[2]["B"]

-0.09687214871808653

In [42]:
df.loc["G2"].loc[2, "B"]

-0.09687214871808653

In [44]:
df.xs(1, level="Num")

               A         B
Groups
G1     -0.569657  1.454053
G2      0.389764 -1.566777